#about-wrapper{
    width: auto;
    grid-area: main;

    .banner-acerca-de {
        margin: 30px 0px;
        width: 100%;
        height: auto;
    }

    .titulo-acerca-de {
        @include titulos
    }

    .subtitulo-acerca-de {
        @extend .titulo-acerca-de;
        width: 60%;
        padding: 10px 20px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .parrafo-acerca-de {
        @extend .titulo-acerca-de;
        padding: 5px 10px;
        width: 80%;
        font-size: 15px;
    }

}

.about-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) {

    #about-wrapper{
        width: 1000px;
        grid-area: main;
        margin: auto;
        height: auto;
        text-align: center;

        .titulo-acerca-de {
            font-size: 60px;
        }

        .banner-acerca-de {
            margin: 50px 0px;
            width: auto;
            height: auto;
        }

        .parrafo-acerca-de {
            font-size: 20px;
        }

        .subtitulo-acerca-de {
            font-size: 30px;
        }
    }
    
}