.main-wrapper{
    width: fit-content;
    grid-area: main;
    margin: auto;
    padding: 10px 20px 50px;
    text-align: center;
    background-color: $light-background-color;
}

.presentation{
    position: relative;

    .presentationTextContainer--left {
        position: absolute;
        top: 25%;
        left: 5%;
        width: 40%;
    }

    .presentationTextContainer--right {
        position: absolute;
        top: 20%;
        left: 60%;
        width: 40%;
    }
}

.presentation-img {
    width: 100%;
    height: auto;
}

.presentationTitulo{
    font-family: $main-font;
    font-size: 5vw;
}

.presentationTitulo.textoOscuro{
    color: rgb(87, 57, 62);
}

.presentationTitulo.textoClaro {
    color: rgb(240, 192, 200);
}

.presentationParrafo{
    font-family: $main-font;
    font-size: 2.5vw;
}

.presentationParrafo.textoOscuro{
    color: #242424;

}

.presentationParrafo.textoClaro {
    color: rgb(255, 227, 232);
}

@media screen and (min-width:1024px) {

    .presentation{
        margin: 0px 20px;

        .presentationTextContainer--left {
            position: absolute;
            top: 25%;
            left: 2%;
            width: 400px;
        }

        .presentationTextContainer--right {
            position: absolute;
            top: 25%;
            left: 59%;
            width: 400px;
        }
    }
    .card-container {
        width: fit-content;
        margin: auto;
        position: relative;
    }

    .presentationTitulo{
        font-size: 50px;
    }
    
    .presentationParrafo{
        font-size: 30px;
    }

}