@mixin paragraph-text {
    display: inline-block;
    padding: 5px;
    font-family: $sub-font;
    border-radius: 10px;
}

@mixin titulos {
    display: inline-block;
    margin: auto;
    padding: 5px 10px;
    font-family: $main-font;
    background-color: map-get($pinks-map, color-pink-translucid);
    width: 80%;
    border-radius: 10px;
}