.nav-container {
    grid-area: nav;
    
}

.nav-menu{
    display:flex;
    flex-direction: column;
    background-color: $color-pink;

    li{
        background-color: $color-pink;
        flex: 1;
        list-style-type: none;
        text-align: center;
        cursor: pointer;
        transition: all 1s;

        a{
            font-family: 'Imbue', serif;
            color: #000000;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
        }
    }

    li:hover{
        background-color: $color-pink-darker;
    }
}


@media screen and (min-width: 1024px) {
    .nav-container {
        grid-area: nav;
        position: sticky;
        top:0px;
        z-index: 1;
    }

    .nav-menu{
        flex-direction: row;
        padding: 0px 10px ;
        gap: 20px;
    }
}

.pink-background{
    background: $color-pink;
}
.animation-darken{
    transition: all 1s;
    font-family: 'Imbue', serif;
    font-size: 2rem;
}

.animation-darken:hover{
    background-color: $color-pink-darker;
}